# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

__pycache__

# dependencies
/client_react/node_modules
/client_react/.pnp
/client_react/.pnp.js

# testing
/client_react/coverage

# production
/client_react/build

# misc
/client_react/.DS_Store
/client_react/.env.local
/client_react/.env.development.local
/client_react/.env.test.local
/client_react/.env.production.local
/client_react/package-lock.json

/client_react/npm-debug.log*
/client_react/yarn-debug.log*
/client_react/yarn-error.log*

/client_two/node_modules
/client_two/package-lock.json
